@import url('bootstrap.min.css');
@import url('slick.css');
@import url('slick-theme.css');




section{
    margin-top: 30px;
}
section .container h2{
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 12px 0;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}



section .container h2 span{
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.4px;

}

/* Style for header */
header .top-header {
    border-bottom: 1px solid #efefef;
}

header .top-header .container .row .col-sm-5 .nav .nav-item{
    border-left: 1px solid #efefef;
}

header .top-header .container .row .col-sm-5 .nav .nav-item .nav-link{
    font-family: 'PT Sans', sans-serif;
    color: #858585;
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 14px 10px 14px 10px;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link{
    padding: 10px 7px 7px 7px;
    color: #858585;
    text-transform: uppercase;
    font-size: 0.625rem;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .input-group{
    margin-top: -2px;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .input-group input{
    background-color: #f0f0f0;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .input-group input::placeholder{
    color: #999;
    font-size: 0.825rem;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .input-group .form-control{
    border-radius: 0;
}

header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .input-group .input-group-text{
    background-color: #f0f0f0;
    border-radius: 0;
    color: #c3c4c4;
}

/* CART BUTTON */
header .middle-part .container .row .col-sm-8 .nav .nav-item .nav-link .btn {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-right: 0;
    padding: 5px 30px 6px 30px;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: -2px;
}
header .bg-body-tertiary{
    background-color: #4a4a4a !important;
    
}
header .navbar{
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar .container .collapse .navbar-nav .nav-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header .navbar .container .collapse .navbar-nav .nav-item .nav-link{
    color: #ededed;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid transparent;

}

header .navbar .container .collapse .navbar-nav .nav-item .active{
    color: #bea285;

}
header .navbar .container .collapse .navbar-nav .nav-item{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
header .navbar .container .collapse .navbar-nav .nav-item:hover{
    background-color: #e6e6e6;
}

header .navbar .container .collapse .navbar-nav .nav-item:hover .nav-link{
    color: #6c6c6c;
    border-bottom: 1px solid;
}

/*style for best seller */

.best-sellers .container .slick-next::before{
    color: #999;
}

.best-sellers .container .slick-next::before{
    color: #999;
}

.best-sellers .container .best-seller-products div{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.best-sellers .container .best-seller-products div:first-child{
   margin-left: 0.25rem;
}
.best-sellers .container .best-seller-products div .product-info{
    margin-top: 1rem;
}
.best-sellers .container .best-seller-products div .product-info .item-title{
    color: #000;
    text-decoration: none;
    font-size: 0.83rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-family: 'PT Sans', sans-serif;
}

.best-sellers .container .best-seller-products div .product-info .item-title a:hover{
    color: #ef4749;
}

.best-sellers .container .best-seller-products div .product-info .rating{
    margin-top: 5px;
    font-size: 0.75rem;
    color: #ccc;
}

.best-sellers .container .best-seller-products div .product-info .btn-Light{
    background-color: 0;
    color: #666;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    padding: 8px 12px;
    text-transform: uppercase;
    border: 1px #d1d1d1 solid;
    font-family: 'PT Sans', sans-serif;

}

.best-sellers .container .best-seller-products div .product-info .btn-Light:hover{
    background: #ef4749;
    color: #fff;
    border: 1px #ef4749 solid;
    transition: color 300ms ease-in-out 0s,
background-color 300ms ease-in-out 0s,
background-position 300ms ease-in-out 0s;

}





@media(max-width: 320px){
    html{
        font-size: 0.8rem;
    }
}